{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <h5 class="card-header">Категория: <a href="{{ news_item.category.get_absolute_url }}">
            {{ news_item.category }}
        </a></h5>
        <div class="card-body">
            <div class="media">
                {% if news_item.photo %}
                    <img src="{{ news_item.photo.url }}" alt="img" width="350" class="me-3 float-start">
                {% else %}
                    <img src="https://via.placeholder.com/350x235" alt="img" width="350"
                         class="me-3 float-start">
                {% endif %}

                <div class="media-body">
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content | linebreaks }}</p>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
{% endblock %}

